name: Update Credly Badges

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:

jobs:
  update-badges:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update Credly Badges
        uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: manjusree-pushphaa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
